#call-to-action{
    text-align: center;
}
.logo{
    height: 30px;
    width: 80px;
}
@keyframes slideInRight {
    0% {
    transform: translateX(-100%);
    }
    100% {
    transform: translateX(0);
    }
    }
    .content {
    animation: 1s ease-in-out 0s 1 slideInRight;
    }
    .course {
        animation: 1s ease-in-out 0s 1 fade-right;
        }
    .reveal{
      position: relative;
      transform: translateY(150px);
      opacity: 0;
      transition: 1s all ease-in-out;
    }
    
    .reveal.active{
      transform: translateY(0);
      opacity: 1;
    }
    .active.fade-bottom {
      animation: fade-bottom 1s ease-in;
    }
    .active.fade-left {
      animation: fade-left 1s ease-in;
    }
    .active.fade-right {
      animation: fade-right 1s ease-in;
    }
    @keyframes fade-bottom {
      0% {
        transform: translateY(50px);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }
    @keyframes fade-left {
      0% {
        transform: translateX(-100px);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
    }
    
    @keyframes fade-right {
      0% {
        transform: translateX(100px);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
    }
    .popout {
      animation: popout 2s ease;
      -webkit-animation: popout 2s ease;
    }
    @keyframes popout {
      from{transform:scale(0)}
      80%{transform:scale(1.2)}
      to{transform:scale(1)}
    }
    @-webkit-keyframes popout {
      from{-webkit-transform:scale(0)}
      80%{-webkit-transform:scale(1.2)}
      to{-webkit-transform:scale(1)}
    }

.auto-type{
    color: blue;
}
#results{
  height: 180px;
}